<div class="row">
  <div class="col-md-3">
    <%= image_tag @restaurant.image_url %>

      <h2>
        <%= @restaurant.name %>
      </h2>

      <p>
        <strong>Address:</strong>
        <%= @restaurant.address %>
      </p>

      <p>
        <strong>Phone:</strong>
        <%= @restaurant.phone %>
      </p>

      <p>
        <strong>Website:</strong>
        <%= link_to @restaurant.website, @restaurant.website %>
      </p>

      <%= link_to "Write a Review", new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>
   
  </div>
  
  <div class="col-md-9">
    <% if @reviews.blank? %>
      <div class="well">
        <h3>Be the first to write a review for this restaurant!</h3>
      </div>
    <% else %>
      <% @reviews.each do |review| %>
        <div class="well">
          <div class="star" data-score= <%= review.rating %> ></div>
          <p><%= review.comment %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-link' %> |
      <%= link_to 'Back', restaurants_path, class: 'btn btn-link' %>

<script>
  $('.star').raty({
    path: 'https://s3.amazonaws.com/grayyelpdemo/stars',
    readOnly: true,
    score: function() {
    return $(this).attr('data-score');
  }
  });
</script>




